#as {font-family: 'jazeera-light',FontAwesome;margin-bottom: 2px; color: #828282; border-radius: 12px 3px 11px 11px;
text-shadow: 2px 2px 2px rgb(138, 138, 138) , 0px 2px 10px #820831!important;
border: 1px solid #003300;
height: 33px;
text-align: center; 
}
.well {font-family: 'jazeera',FontAwesome;font-size: 16px!important;padding: 15px!important;text-align: center!important;width: 101%;color: #820831;white-space: nowrap;border-radius: 25px 25px 0px 0px;}
ul.nav.nav-tabs.fl li a { color: #427024; box-shadow: inset 0 6px 6px rgb(137, 137, 137), 0 0 5px rgb(137, 137, 137);font-family: 'jazeera',FontAwesome;font-size: 12px!important;padding: 5px!important;text-align: center!important;width: 100%;}
ul.nav.nav-tabs.fl li {border-bottom: 6px solid rgb(138, 137, 137);width: 33.3%;}
textarea.fl.filw.corner.tbox { box-shadow:inset 0 2px 2px rgb(137, 137, 137); 0 0 7px rgb(137, 137, 137);border-radius: 7px;padding-left: 5px;}
label.label.tc.border.btn.fl {border-radius: 12px 3px 11px 11px;}
.label.tc.border.btn.fl, .label.tc.border.btn.fl {border: 2px solid #820831;font-family: 'jazeera',FontAwesome;border-radius: 12px 3px 11px 11px;}
label.fl.label.loginstat.label-success {
box-shadow: inset 0 2px 2px rgb(184, 224, 184), 0 0 8px rgb(184, 224, 184);
color: #E6DF27;
border-radius: 5px 5px 5px 5px!important;
font-family: 'jazeera',FontAwesome;
height: 22px;
display: inline-flex;
background-color: #f7f7f7!important;
margin-left: 2px;
}
.fr.borderg a {color: #30B3FF;font-size: 12px!important;}
.fr.borderg {color: #820831;font-size: 13px!important;border: 1px solid #828282;font-family: 'jazeera',FontAwesome;border-radius: 4px 4px 4px 4px;margin-top: 1px;}
label.label-primary {border-radius: px 31px 31px 31px;}
button.btn.fr.btn-success.fa.fa-refresh {
padding: 4px 5px;
border: 1px solid transparent;
margin-top: -3px;
border-radius: 50px;
as:51px;
}
border.corner, .border.corner {box-shadow: inset 0 1px 1px rgb(165, 69, 116), 0 0 8px rgb(165, 69, 117);border: 2px solid #9e8484;}
.checkbox {color: #283f5a;}
fr.borderg {box-shadow: inset 0 2px 2px rgb(184, 224, 184), 0 0 8px rgb(184, 224, 184);margin-top: 1px;}
label.label.label-primary.mini.fl {
width: 35%!important;
height: 27.5px;
float: right;
color: #2929CC;
background-color: #f7f7f7!important;
border-radius: 5px 5px 5px 5px!important;
box-shadow: inset 0 2px 2px rgb(184, 224, 184), 0 0 8px rgb(184, 224, 184);
}
.border.corner, .border.corner {box-shadow: inset 0 0px 0px rgb(137, 137, 137), 0 0 4px rgb(137, 137, 137);border: 2px solid #820831;as:13px;}
.label-primary, .btn-primary, .ae.fa.label.fa-commenting-o.label-warning, .ae.fa.chats.label.fa-comment.label-warning {border: 1px solid #ffffff;border-radius: 31px 31px 31px 31px;as:31px;}
.checkbox {color: rgb(137, 137, 137);}
